<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Add Category</title>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <%- include ('../_layouts/admin_header') %>
  <h1>Add Category!</h1> 
  <a href="/admin/categories">Back to all category</a>
  <form action="/admin/categories/add-category" method="post">
    <div class="form-group">
        Title: <input class="form-control" type="text" name="title" value="<%= title %>"><br>
    </div>
    <!-- <div class="form-group hidden">
      Slug: <input type="text" class="form-control" name="slug" value="<%= slug %>"><br>
    </div> -->
    <button>Submit</button>
  </form>
  <%- include ('../_layouts/admin_footer') %> 
</body>

</html>